<div class="container mx-auto py-8 px-4">
  <div class="flex flex-col lg:flex-row gap-8">

    <button (click)="changefilter()"
      class="sm:hidden fixed bottom-5 right-5 z-50 bg-green-600 text-white p-4 rounded-full shadow-lg">
      <i class="fa-solid fa-sliders"></i> Filters
    </button>

    @if (isFilterOpen()) {
    <div (click)="changefilter()" class="fixed inset-0 bg-black/50 z-50 sm:hidden"></div>
    }

    <aside #elmentaside [class.translate-x-0]="isFilterOpen()" [class.-translate-x-full]="!isFilterOpen()"
      class="fixed inset-y-0 left-0 w-full z-55  max-w-xs bg-white p-6 overflow-y-auto transition-transform duration-300 ease-in-out sm:translate-x-0 sm:w-1/5 sm:block sm:sticky sm:top-20 rounded-2xl border border-gray-100 shadow-sm self-start">

      <div class="flex justify-between items-center sm:hidden mb-6">
        <h2 class="text-xl font-bold">Filters</h2>
        <button (click)="changefilter()"><i class="fa-solid fa-xmark text-2xl"></i></button>
      </div>

      <h2 class="text-xl font-bold mb-6 hidden sm:block">Categories</h2>
      <ul class="space-y-3 mb-8 max-h-60 overflow-y-auto pr-2 custom-scrollbar">
        @for (cat of categories(); track cat._id) {
        <li class="flex items-center gap-3 group cursor-pointer">
          <input type="checkbox" [id]="cat._id" #element [checked]="isChecked() === false ? false : null"
            (change)="onCategoryChange($event, cat._id)"
            class="w-5 h-5 rounded border-gray-300 text-green-600 focus:ring-green-500">
          <label [for]="cat._id" class="text-gray-600 group-hover:text-green-600 transition-colors cursor-pointer">
            {{ cat.name }}
          </label>
        </li>
        }
      </ul>


      <h2 class="text-xl font-bold mb-6">Brands</h2>
      <ul class="space-y-3 mb-8 max-h-60 overflow-y-auto pr-2 custom-scrollbar">
        @for (brand of brands(); track brand._id) {
        <li class="flex items-center gap-3 group cursor-pointer">
          <input type="checkbox" [id]="brand._id" #el [checked]="isChecked() === false ? false : null"
            (change)="onBrandChange($event, brand._id)"
            class="w-5 h-5 rounded border-gray-300 text-green-600 focus:ring-green-500">
          <label [for]="brand._id" class="text-gray-600 group-hover:text-green-600 transition-colors cursor-pointer">
            {{ brand.name }}
          </label>
        </li>
        }
      </ul>
    </aside>

    <main class="w-full lg:w-3/4">
      <div
        class="flex flex-wrap justify-between items-center mb-8 bg-white p-4 rounded-xl shadow-sm border border-gray-50">
        <div class="flex gap-2 mb-4 sm:mb-0">

          <button (click)="changecolor('list')"
            [class]="changes() === 'list' ? 'bg-green-600 text-white' : 'bg-white text-gray-400'"
            class="p-2 cursor-pointer rounded-lg shadow-md transition-all">
            <i class="fa-solid fa-table-cells"></i>
          </button>

          <button (click)="changecolor('grid')"
            [class]="changes() === 'grid' ? 'bg-green-600 text-white' : 'bg-white text-gray-400'"
            class="p-2 cursor-pointer border border-gray-100 rounded-lg hover:bg-gray-50 transition-all">
            <i class="fa-solid fa-list"></i>
          </button>
        </div>

        <div class="flex items-center gap-1 ">
          <span class="text-gray-400 text-sm font-medium  w-1/2">Sort by:</span>
          <select
            class="bg-gray-50 cursor-pointer border border-gray-100 text-gray-700 text-sm rounded-xl focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
            <option value="">Relevance</option>
            <option value="title">Name: A to Z</option>
            <option value="-title">Name: Z to A</option>
            <option value="price">Price: Low to High</option>
            <option value="-price">Price: High to Low</option>
            <option value="rating">Rating: High to Low</option>
          </select>
        </div>
      </div>

      @if (productList().length > 0) {
      <div [class]="changes() === 'grid'?'grid-cols-1':'grid-cols-1 sm:grid-cols-2 xl:grid-cols-4'" class="grid  gap-6">
        @for (product of productList()| paginate: {
        id: 'foo',
        itemsPerPage: pageSize(),
        currentPage: cp(),
        totalItems: total()}; track product._id) {
        <app-card [imagespace]="changes()" [product]="product"></app-card>
        }@empty {
        <div class="col-span-full flex flex-col justify-center items-center py-20">
          <i class="fas fa-spinner fa-spin text-4xl text-blue-500 mb-4"></i>
          <h2 class="text-gray-500 text-xl font-medium">Loading Products...</h2>
        </div>

        }
      </div>
      <div class="flex my-10 justify-center items-center">
        <pagination-controls (pageChange)="pageChange($event)" id="foo" [maxSize]="9" [directionLinks]="true"
          [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      }@else
      {
      <div class="flex flex-col items-center justify-center py-20 px-4 text-center  w-full">

        <div class="w-24 h-24 bg-gray-50 rounded-full flex items-center justify-center mb-6">
          <i class="fa-solid fa-magnifying-glass text-4xl text-gray-300"></i>
        </div>

        <h2 class="text-2xl font-bold text-gray-800 mb-3">No Products Found</h2>

        <p class="text-gray-500 max-w-md mb-8 leading-relaxed">
          Try adjusting your search or filters to find what you're looking for.
        </p>

        <button (click)="clearAllFilters()"
          class="bg-green-600 cursor-pointer hover:bg-green-700 text-white font-semibold py-3 px-10 rounded-xl transition-all shadow-lg shadow-green-100 flex items-center gap-2 group">
          <span>Clear Filters</span>
          <i class="fa-solid fa-filter-circle-xmark group-hover:scale-110 transition-transform"></i>
        </button>
      </div>

      }
    </main>
  </div>
</div>
