<section class="py-10">
  <div class="container">
    <h2 class="text-3xl font-semibold Product">Featured <span class="text-primary">Product</span></h2>
    <div class="mt-5 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">

      @for(product of productList()| paginate: {
      id: 'foo',
      itemsPerPage: pageSize(),
      currentPage: cp(),
      totalItems: total()};track product._id){
      <app-card [product]="product" />
      }@empty {
      <div class="col-span-full flex flex-col justify-center items-center py-20">
        <i class="fas fa-spinner fa-spin text-4xl text-blue-500 mb-4"></i>
        <h2 class="text-gray-500 text-xl font-medium">Loading Products...</h2>
      </div>
      }
    </div>
    <div class="flex my-4 border justify-center items-center">
      <pagination-controls (pageChange)="pageChange($event)" id="foo" [maxSize]="9" [directionLinks]="true"
        [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
    </div>
  </section>
